@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 25rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    height: 35rem;
    margin: 3rem;
    border-radius: 0.5rem;
}

.container form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    /* font-weight: bold; */
    /* font-size: 15px; */
}

.inputHeading {
    padding: 10px 0 3px 0;
    font-size: 15px;
    font-weight: bold;
    font-family: calibri;
}

form div {
    width: 100%;
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

form input {
    width: 90%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 3px;
}

form div .fa-check {
    color: green;
    padding: 3px;
    display: none;
}

form #passDiv {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    /* padding: -19px; */
    padding-left: -1px;
    border: none;
    box-sizing: border-box;
    position: relative;
}

form #passInternalDiv {
    margin-left: -1px;
    width: 100%;
}

form #passFinalHint {
    font-size: 10px;
    display: block;
    margin-top: 3px;
    text-align: center;
    /* display: none; */
    border-radius: 5px;
    color: green;
}

#passFinalHint #smillyEmogy {
    color: yellow;
    background-color: rgb(78, 75, 75);
    border-radius: 7px;
}

#passFinalHint #SadEmogy {
    color: yellow;
    background-color: rgb(78, 75, 75);
    border-radius: 5px;
}

form #passHint {
    display: flex;
    flex-direction: column;
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: calibri;
    padding: 5px;
    position: absolute;
    top: 34px;
    left: 1px;
    width: 14rem;
    display: none;
}

form #passHint p {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
}

input[type="submit"] {
    margin-top: 30px;
    background-color: rgba(90, 158, 221, 0.808);
    font-size: 15px;
    color: white;
    /* background-color: gray; */
    background-color: #ccc;
    font-weight: bold;
    border: 0.5px solid #ccc;
    cursor: not-allowed;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}